README.md
proposal1-original_CNN/original_CNN-finalversion/llr_model_final.pth
proposal1-original_CNN/original_CNN-finalversion/llr_model_final.pth
proposal1-original_CNN/original_CNN-finalversion/llr_model_final.pth
